@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url(https://media.istockphoto.com/vectors/cloud-cartoon-with-blue-sky-outdoor-landscape-background-vector-vector-id1282278279?b=1&k=6&m=1282278279&s=170667a&w=0&h=b-0Fjs6JMBaXV7HixCk93FGh-eu2nQBfOZtqxuD0VAs=);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	max-width: 800px;
	width: 80%;
	margin: auto;
	padding: 40px;
}
