@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url('./image/fondos/fondo1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	max-width: 800px;
	width: 80%;
	margin: auto;
	padding: 40px;
}

.logoprincipal {
	width: 100%;
	height: auto;
}

@media (max-width: 300px) {
  body {
	width: 70%;
  height: auto;
  }
  .logoprincipal {
	width: 200%;
	height: auto;
}
}