@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');


* {
	box-sizing: border-box;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	max-width: 800px;/* el contenedor no pase de este tamaño*/
	width: 90%;
	margin: auto; /* centraa el contenido automaticamente*/
	padding: 40px; /* */
}

.level1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logoprincipal {
	width: 100%;
	height: auto;
}

.marco {
	padding: 10px;
	border: 4mm ridge rgba(211, 220, 50, .6);
}

.speaker1 {
	height: 100px;
	width: auto;
}

.lettera {
	height: 200px;
	width: auto;
}

@media (max-width: 300px) {
  .logoprincipal {
	width: 100%;
	height: auto;
}
.lettera {
	height: 80px;
	width: auto;
}
}
/*button */
.glow-on-hover {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.glow-on-hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.glow-on-hover :after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.glow-on-hover:hover{
  padding-right: 24px;
  padding-left:8px;
}

.glow-on-hover:hover:after {
  opacity: 1;
  right: 10px;
}

/*letter animation*/
.text_anime {
  font-family: Oswald;
  font-size: 100px;
   animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  text-shadow: 10px 10px #F0F0F0;
}

@keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-moz-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-webkit-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}