@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Slabo+27px&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Slabo 27px', serif;
}

div {
	border-style: solid;
	border-color: blue;
}
main {
	border-style: solid;
	border-color: red;
}
aside {
	border-style: solid;
	border-color: green;
}
header {
	border-style: solid;
	border-color: yellow;
}


body {
	align-items: center;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden hidden;
}

header {
	width: 100%; 
	margin: auto;
	align-items: center;

}

aside {
	max-width: 800px;
	width: 100%; 
	/*margin: auto; */
}

footer {
position: fixed;
  bottom: 0;
  width: 100%; 

}


main {
	max-width: 800px;/* cuando se agranda queda centrado de la vista)*/
	width: 100%; /* cuando se reduce se centra totalmente*/
	margin: auto; /* centraa el contenido automaticamente*/
	padding: 40px; /* margenes*/
}

