
body {
	background-image: url('../../image/fondos/fondo1.jpg');
  display: flex;
  background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;

	/*
  */
}