
.inicio {
	background-image: url('../../image/fondos/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
	grid-template-columns: 1fr 1fr;
    height:100vh;
    overflow: auto auto;

}

.mainLogo{
    padding: 20px;

}

.containerimg{
    width: 90%;
    margin: 0;
    min-width: 500px;
    
}

.imglogo{
    width: 100%;

}

.formulario {
    width: 90%;
    min-width: 500px;
    margin: auto; 
}








