.inicio5 {
	background-image: url('../../image/fondos/fondo8.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: grid;
	grid-template-columns: 1fr;
    width: 100%;
    height:100vh;
    overflow: auto auto;

}

.App {
    overflow: hidden hidden;

}

.headerlogo5{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imglogo5{
    display: flex;
    width: 45%;
    padding: auto;
    margin: auto;

}

.containerbutton {
    list-style: none;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;

}

.imgbutton {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;

}

.gridkid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
}
