
.inicio4 {
	background-image: url('../../image/fondos/fondo1.jpg');  display: flex;
    background-repeat: no-repeat;
    background-size: 100% 100%;



}
.main_logo_formulario{
    display: grid;
	grid-template-columns: 1fr 1fr;
    min-height: 100%;
    height:100vh;
    padding: 0;
    overflow: auto auto;
}
/*

@media screen and (max-width: 580px){
    .inicio2{
        display: grid;
        grid-template-columns: 1fr;
        background-size: cover;
        height:100vh;


    }
}
.containerimg2{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    min-width: 300px;
    padding-left: 0%;


}

.imglogo2{
    width: 100%;

}

.formulario2 {
    min-width: 400px;
    padding: 0;

}

*/